.click {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    opacity: 0;
    transform: scale(0.5, 0.5) translate(-15px, -15px);
    transition: all 1.5s ease-in-out;
    animation: appear 0.4s ease;
    background-color: green;
    opacity: 0.5;
    transform: scale(1, 1);
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
    100% {
      opacity: 0.5;
      transform: scale(1, 1);
    }
  }